# --- virtual environments ---
venv/
.venv/
env/
.env/

# --- DB ---
db/*.db          # ignore only .db files inside db/
!db/db_connection.py   # but do NOT ignore db_connection.py

# --- Python cache & build ---
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# --- IDE/editor noise (optional) ---
.vscode/
.idea/
.DS_Store
